<div class="col-xs-5 title">
    <input type="search" placeholder="Type region or city" class="region-set" [(ngModel)]="search">
    <div class="filter-search" *ngIf="search"> 
    <div class="search-results"
        (scroll)="loadmore($event)" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" [scrollWindow]="false" [infiniteScrollDisabled]="isFullListDisplayed">
        <div *ngFor="let cities of itemsToShow | filter:search; let i=index" class="filter-borders">
            <span> {{i + 1 + ' . ' + cities.city}}&nbsp; &&nbsp;
                <strong>State</strong>: &nbsp;{{cities.state}}</span>
        </div>
    </div>
    
    </div>
</div>