.login-section{
    margin: 0 auto;
    border-radius: 2px;
    margin: 0 auto ;
    margin-top: 25px;
    align-self: center;
    min-width: auto;
    background: none;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    box-shadow: 0 0 20px #ccc;
    float: none;
    padding-bottom: 25px;
}
.login-heading{
    margin-bottom: 20px;
    font-weight: bold;
}
.login-paragraph{
    margin-bottom: 20px;
}
#name{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    border-radius: 0;
}
#PassWord{
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: none;
    border-radius: 0;
}
.passwordSetting>a{
    color: #00d09f;
    text-decoration: none;
}
.setting-loginButton{
    margin: 10px 0px;
    background: #00d09f;
    border-color: #00d09f;
    width: 45%;
    border-radius: 0;
    border: 1px solid #ddd !important;
    font-weight: bold;
}
.singupAccountSetting{
    border-top: solid 1px #ddd;
    padding-top: 16px;
    margin-top: 20px;
    margin-bottom: 10px;
}
.singupAccountSetting>a{
    color: #00d09f;
    text-decoration: none;
    font-weight: bold;
}