<div class="container">
    <section class="col-xs-12"> 
        <div class="col-xs-5 login-section">
          <h1 class="login-heading">LOGIN</h1>
          <P class="login-paragraph">Enter your Email id or Phone number & password</P>
        
          <div class="form-group">
            <input type="text" class="form-control"  placeholder="EMAIL ID OR PHONE NUMBER" id="name" required>
          </div>
        
          <div class="form-group">
            <input type="password" class="form-control"  placeholder="PASSWORD" id="PassWord">
          </div>
          <div class="col-xs-6">
            <input type="checkbox" id="checkBox"> 
            <label for="checkBox">Remeber me</label>
          </div>
          <div class="col-xs-6 text-right passwordSetting">
            <a href="">Forgot password?</a>
          </div>
         <div class="text-right">
            <button type="button" class="btn btn-primary btn-lg setting-loginButton">LOGIN</button>
         </div>

         <div class="text-center">
           <p class="singupAccountSetting">
             Don't have an account?&nbsp;
             <a href="">Sign Up</a>
           </p>
         </div>
         
        </div>
        
        </section>
      
      </div>
